* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  color: #212529;
  width: 100%;
  margin-block: auto;
  padding-block: 2.4rem;
}

.container {
  width: 100%;
  padding: 2.4rem;
  margin: 0 auto;
}
.icon {
  width: 2.4rem;
  height: 2.4rem;
}
.icon--check,
.icon--delete {
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.icon--check:hover {
  stroke: #37b24d;
  transform: scale(1.2);
}

.icon--delete:hover {
  transform: scale(1.2);
}

.icon--search {
  stroke: #adb5bd;
}

.icon--green {
  stroke: #37b24d;
}

@media (min-width: 36em) {
  .container {
    padding: 0;
    max-width: 52rem;
  }
}
